<div class="container">
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
  {{#if isAuthenticated}}
    <li><a href="/logout">Logout</a></li> 
    <li><a href="/myfavorites">My Recipes</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    {{/if}}
    <li><a href="/home">Home</a></li>
  </ul>
  <p class="navbar-text">Recipes</p>
</nav>
</div>
