<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Our CSS -->
	<link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
	<title>Hangry Helper!</title>
</head>
	<body>
		<!-- Jumbotron -->
		<div class="jumbotron text-center">
			<h1 id="title">Hangry Helper</h1>
			<a id="scrollToContentImage" href="#header">
				<img id="scrollToContentImage" src="../../assets/images/arrow-down.png">
			</a>
		</div>
		<div class="container-fluid" style="height: 100%">

			<!-- Row for Header -->
			<div class="row">
				<div class="col-lg-12">
					<div id="scrollToNav" class="">
						<!-- Header from handlebars -->
						{{>header}}
					</div>
				</div>
			</div>

			<!-- Results -->
			<div id="results" class="row">
				<div class="col-xs-12">




				</div>
			</div>

		</div><!-- /container-fluid-->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- Our JavaScript -->
	<script type="text/javascript" src="../../assets/javascript/hangry-helper.js"></script>
	</body>
</html>
