<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Our CSS -->
	<link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
	<title>Hangry Helper!</title>
</head>
	<body>
		<!-- Jumbotron -->
		<div class="jumbotron text-center">
			<h1 id="title">Hangry Helper</h1>
			<a id="scrollToContentImage" href="#header">
				<img id="scrollToContentImage" src="../../assets/images/arrow-down.png">
			</a>
		</div>
		

			<!-- Row for Header Search Bar -->
<nav class="navbar" id="header">
        <form class="form-inline my-2 my-lg-0">
        <div class="form-row">
        <div class="col-sm-2">
        <p>Search</p>
        <h4>Recipes</h4>
        </div>
         <div class="col-auto">
          <label><h4 id="search-text">Keyword: </h4></label><input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <label for="dietLabel"><h4 id="search-text">Diet: </h4></label> <select class="form-control" id="dietLabel">
						    	<option></option>
								<option value="balanced">Balanced</option>
								<option value="high-fiber">High-Fiber</option>
								<option value="high-protein">High-Protein</option>
								<option value="low-carb">Low-Carb</option>
								<option value="low-fat">Low-Fat</option>
								<option value="low-sodium">Low-Sodium</option>
								<option value="low-sugar">Low-Sugar</option>
						    </select>
         <label for="healthLabel"><h4 id="search-text">Allergies/Food Lifestyle: </h4></label>
						    <select class="form-control" id="healthLabel">
						      	<option></option>
						      	<option value="gluten-free">Gluten</option>
								<option value="dairy-free">Dairy</option>
								<option value="egg-free">Eggs</option>
								<option value="soyfree">Soy</option>
								<option value="wheat-free">Wheat</option>
								<option value="fish-free">Fish</option>
								<option value="shellfish-free">Shellfish</option>
								<option value="tree-nut-free">Tree Nuts</option>
								<option value="peanut-free">Peanuts</option>
								<option value="vegan">Vegan</option>
								<option value="vegetarian">Vegetarian</option>
								<option value="paleo">Paleo</option>
								<option value="kosher">Kosher</option>
						    </select>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
          </div>
         </div>
        </form>
      </div>
    </nav>
			<div class="container-fluid" style="height: 100%">
			<!-- Results -->
			<div id="results" class="row">
				<div class="col-xs-12">

					{{{ body }}}


				</div>
			</div>

		</div><!-- /container-fluid-->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<!-- Our JavaScript -->
	<script type="text/javascript" src="./assets/javascript/api.js"></script>

	<script type="text/javascript" src="../../assets/javascript/hangry-helper.js"></script>

	</body>
</html>
