<div class="container">
<form method="POST" action="/createRecipe">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" placeholder="title">
  </div>
  <div class="form-group">
    <label for="url">Picture URL</label>
    <input type="url" name="url" class="form-control" placeholder="picture URL">
  </div>
    <div class="form-group">
    <label for="dietLabels">Diet Labels</label>
    <input type="dietLabels" name="dietLabels" class="form-control" placeholder="diet labels">
  </div>
  <div class="form-group">
    <label for="ingredients">Ingredients</label>
    <input type="ingredients" name="ingredients" class="form-control" placeholder="ingredients">
  </div>
  <div class="form-group">
    <label for="directions">Directions</label>
    <input type="directions" name="directions" class="form-control" placeholder="directions">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>