
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/***********************
    Fonts
***********************/



/***********************
    Page Layout
***********************/

.jumbotron{
  height: 100%;
  background: url('../images/Recipes-Banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0em;
}

#title {
  color: rgba(136,185,112, 0.8);
  margin-top: 3em;
}

#scrollToContentImage {
  margin-top: 10em;
  height: 60px;
  width: 60px;
  opacity: 0.8;
}


.container-fluid {
  background: url('../images/vintage-concrete.png');
}

.ingList > li {
  background-color: transparent;
  padding: 0;
}

.card {
	float: left;
	margin: 5px
}

/*********************
MEDIA QUERIES
*********************/

@media only screen and (max-width: 850px) {


}
